.container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  flex: 1;
  padding-top: 1rem;
  background-color: rgb(var(--background-rgb));
  box-shadow: 1rem 1rem 3rem 1.5rem rgba(var(--foreground-rgb), 0.08);
}

.logoCont img{
  width: 4rem;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.newsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
  box-sizing: border-box;
}

.newArticles {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  gap: 1rem;
  background-color: rgb(var(--new-background-rgb));
  color: rgb(var(--new-header-text-rgb));
  box-sizing: border-box;
}

.newArticles p {
  color: rgb(var(--new-text-rgb));
  font-size: 0.8rem;
  line-height: 1.25rem;
}
.newArticles h2 {
  color: rgb(var(--new-rgb));
}
.newArticles h3 {
  margin-bottom: 1rem;
}

.highlightArticle {
  flex: 3;
}

.highlightText {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.highlightText h1 {
  flex: 1;
  font-size: 2.5rem;
  font-weight: 1000;
  min-width: 15rem;
}

.highlightText button {
  padding: 0.5rem 1rem;
  background-color: rgb(var(--peach-color-rgb));
  color: rgb(var(--background-rgb));
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.highlightText button:hover {
  background-color: rgb(var(--new-background-rgb));
}

.highlightDesc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-right: 1rem;
  color: rgb(var(--text-on-background-rgb));
  font-size: 0.8rem;
  min-width: 15rem;
}

.highlightDesc p {
  line-height: 1.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: flex-end;
  padding: 2rem;
  padding-left: 2rem;
}

.menuBtn {
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: none;
  width: 4rem;
  padding: 0.5rem;
  background-color: rgb(var(--background-rgb));
  z-index: 2;
}

.menuBtn img {
  width: 100%;
  height: auto;
}

.navDesktop {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 2rem;
  color: rgb(var(--text-on-background-rgb));
  font-size: 1rem;
}

.dimmer {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
}

.navMobileOverlay {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.navMobile {
  position: fixed;
  display: none;
  gap: 2rem;
  color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navMobile ul {
  padding: 2rem;
  padding-top: 20%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  font-size: 1rem;
  gap: 2rem;
  background-color: rgb(var(--background-rgb));
}

.navShowMobile {
  display: block;

}

.header ul li {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.header ul li:hover {
  color: rgb(var(--peach-color-rgb));
}

.popularBlock {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 2rem;
  gap: 1rem;
  max-height: 30rem;
  flex-wrap: wrap;
}

.popularItem {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: stretch;
  min-width: 15rem;
  max-width: 20rem;
}

.popularNr {
  font-size: 1.5rem;
  color: rgb(var(--text-on-background-rgb));
  margin-bottom: 1rem;
  font-weight: 700;
}

.popularText {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.popularText h3 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.popularText p {
  font-size: 0.8rem;
  color: rgb(var(--text-on-background-rgb));
}

.popularImage {
  flex: 1 1 50%;
  display: block;
}

.popularImage img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
  .navDesktop {
    display: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
}
